{% extends 'base.html' %}

{% block content %}
<h2>Log in</h2>

<form action="base.html" method="post">
    <div class="fill-up">
        <label for="uname">Jmeno</label>
        <input type="text" placeholder="Vlozde Jmeno" name="uname" required>

        <label for="psw">Heslo</label>
        <input type="password" placeholder="Vlozde Heslo" name="psw" required>

        <button type="submit">Login</button>
    </div>
    <p>OR</p>
    <div>
        <label for="mail">Email</label>
        <input type="text" placeholder="Zadejte email" name="mail" required>
    </div>
</form>

<h2><a href="{{ url_for('registr') }}">Registrace</a></h2>


{% endblock %}