{% extends 'base.html' %}

{% block content %}
<h2>Registr</h2>

<form action="base.html" method="post">
    <div class="fill-up">
        <label for="uname">User</label>
        <input type="text" placeholder="Vlozde Username" name="uname" required>

        <br>

        <label for="mail">Email</label>
        <input type="text" placeholder="Zadejte email" name="mail" required>

        <br>

        <label for="psw">Heslo</label>
        <input type="password" placeholder="Vlozde Heslo" name="psw" required>

        <br>

        <label for="psw">Kontrola Hesla</label>
        <input type="password" placeholder="Znovu vlozde Heslo" name="psw" required>

        <br>

        <input class="agree" type="checkbox" id="detail" name="details" value="info" required>
        <label for="details"> Souhlasím podmínkami.</label>

        <br>

        <button type="submit">Registrace</button>
    </div>
</form>


{% endblock %}